<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EasyLOB.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- !!! EasyLOB Audit Trail -->
    <add key="EasyLOB.AuditTrail" value="true" />
    <!-- !!! EasyLOB Data -->
    <add key="EasyLOB.AdoNet.IsolationLevel" value="false" />
    <add key="EasyLOB.AdoNet.RecordsBySearch" value="10" />
    <add key="EasyLOB.AdoNet.SequencePrefix" value="" />
    <!-- !!! EasyLOB Directory -->
    <add key="EasyLOB.Directory.Configuration" value="EasyLOB-Configuration" />
    <add key="EasyLOB.Directory.Export" value="EasyLOB-Export" />
    <add key="EasyLOB.Directory.Import" value="EasyLOB-Import" />
    <add key="EasyLOB.Directory.Template" value="EasyLOB-Templates" />
    <!-- !!! EasyLOB Extensions EDM -->
    <add key="EasyLOB.EDM.FileSystem.Directory" value="C:/EDM" />
    <add key="EasyLOB.EDM.FTP.Server" value="www.easylob.com" />
    <add key="EasyLOB.EDM.FTP.Port" value="21" />
    <add key="EasyLOB.EDM.FTP.User" value="user" />
    <add key="EasyLOB.EDM.FTP.Password" value="password" />
    <add key="EasyLOB.EDM.FTP.Root" value="EDM" />
    <!-- !!! EasyLOB Log -->
    <add key="EasyLOB.Log" value="true" />
    <!-- !!! EasyLOB Mail -->
    <add key="EasyLOB.Mail.FromAddress" value="email@gmail.com" />
    <add key="EasyLOB.Mail.Host" value="smtp.gmail.br" />
    <add key="EasyLOB.Mail.Port" value="587" />
    <add key="EasyLOB.Mail.UserName" value="email@gmail.com" />
    <add key="EasyLOB.Mail.Password" value="password" />
    <add key="EasyLOB.Mail.SSL" value="true" />
    <add key="EasyLOB.Mail.ToAddress" value="" />
    <!-- !!! EasyLOB Multi-Tenant -->
    <add key="EasyLOB.MultiTenant" value="false" />
    <!-- !!! EasyLOB Transaction -->
    <add key="EasyLOB.Transaction" value="true" />
  </appSettings>
  <connectionStrings>
    <!-- !!! -->
    <add name="MyLOB" connectionString="Data Source=.;Initial Catalog=MyLOB;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="Data Source=.;Initial Catalog=EasyLOB3;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="AuditTrail" connectionString="Data Source=.;Initial Catalog=EasyLOB3;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Identity" connectionString="Data Source=.;Initial Catalog=EasyLOB3;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <contexts>
      <!-- !!! -->
      <context type="EasyLOB.Activity.Persistence.ActivityDbContext, EasyLOB.Activity.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.AuditTrail.Persistence.AuditTrailDbContext, EasyLOB.AuditTrail.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.Identity.Persistence.IdentityDbContext, EasyLOB.Identity.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.Identity.ApplicationDbContext, EasyLOB.IdentityEntityFramework" disableDatabaseInitialization="true" />
      <!--
      <context type="EasyLOB.Identity.ApplicationDbContext, EasyLOB.IdentityEntityFramework">
        <databaseInitializer type="EasyLOB.Identity.DatabaseInitializer, EasyLOB.IdentityEntityFramework" />
      </context>
      -->
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!-- !!! SQL Server -->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>